// -----------------------------------------------------------------------------
// GRID
// -----------------------------------------------------------------------------
@import "components/grid";
// -----------------------------------------------------------------------------
// MIXIN
// -----------------------------------------------------------------------------
@import "components/mixin-animations";
// -----------------------------------------------------------------------------
// FUNCTIONS
// -----------------------------------------------------------------------------
@import "components/functions";
// -----------------------------------------------------------------------------
// SLIDER
// -----------------------------------------------------------------------------
@import "components/slider";
// -----------------------------------------------------------------------------
// PIE BARCHART
// -----------------------------------------------------------------------------
@import "components/pieBarChart";


html,
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 1px;
    position:fixed;
    top:0px;
    left:0px;
    right: 0px;
    bottom:0px;
    overflow:hidde;
}



.page{
    background: #085078; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left top, #00BD9C , #0081C5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left top,#00BD9C,#0081C5);
    position:absolute;
    top:0px;
    right: 0px;
    bottom:0px;
    left: 0px;
    z-index: -2;
    visibility: hidden;
    &.active{
        z-index: 1;
        visibility: visible;

    }
}

.centerInPage{
    position: absolute;
    padding: $padding;
    top: 50%;
    left:50%;
    @include translate(-50%,-50%);
}

form{
    @extend .centerInPage;
    .section{
        position:relative;
        display: block;
    }
}

.list{
    @extend .centerInPage;
    color:#fff;
}




#slider  {
    height: 160px !important;
    width: 100% !important;
    overflow: hidden;
    padding: 10px;
    position:relative;
}
#slider .rs-container  {
    left: 50%;
    margin-left: -300px;
}
#slider .rs-tooltip  {
    top: 100px;
}


